.home{
  background-color:var(--light);
  height: 100vh;
  display: flex;
  background-image: url('../projectsImages/fundobranco.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
}

.home__container{
  margin-left: 6.5em;
align-self: center;
font-family: "Arbutus Slab", serif;
}


.home__titulo{
  font-size: 3em;
  margin-bottom:.5em;
  font-weight: 500;
  line-height: 1.2;
}

.home__subtitulo{
  font-size: 1.5em;
  margin-bottom:.5em;
  font-weight: 500;
  line-height: 1.7;
  color:#1a1a1a;
}

.home__subtitulo::after {
  content: '|';
  margin-left: 5px;
  animation: pisca 0.9s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



.home__link{
  text-decoration: none;
  color: var(--white);
  background-color:var(--primary);
  display: inline-block;
  border-radius: 30px;
  padding: 1em 1.5em;
  font-size: 1.1em;
}

@media (max-width:990px){
  .home{
    background-image: url('../projectsImages/opacity.png');
    background-color:#ffffffb8;
  }
}