.projetos{
  margin: 7em 0;
  display: grid;
}
.projetos__titulo{
  margin: 2em 0 3em 0;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.projetos__card__titulo{
  text-align: center;
  padding: .5rem;
  font-size: 1.2em;
}

.projetos__grid{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:20px;
}

.projetos__card{
  width: 100%;
}

.projetos__img{
  width: 100%;
  transition: .5s;
}

.projetos__img:hover{
  filter: blur(1.5px);

}