@import url("header.css");
@import url("home.css");
@import url("cursos.css");
@import url("sobre.css");
@import url("projetos.css");
@import url("contato.css");
@import url("rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Borel&family=Josefin+Sans:wght@500;700&family=Poppins:wght@400;500;700&display=swap');
:root{
  
--white: #fff;
--primary: #207561;
--light: #f8f9fa;
--dark: #343a40;
--font-family-sans-serif: "Arbutus Slab"
}
body{
  background-color:var(--white);
  font-family:"Arbutus Slab", serif;
}
h2{
  font-weight: 400;
}

@media (max-width:557px){
  .sobre, .cursos,.home,.contato, .projetos{
    margin:0;
  }
  .cursos__titulo, .projetos__titulo{
    margin: 1.5em 0;
  }
  .sobre{
    padding: 0;
  }
   
  .projetos__grid{
    row-gap: 1.5rem;
  }
}